In [2]:
import pandas as pd
import numpy as np

In [3]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 7C66-8E97

 Directory of C:\Users\ch186802\Python\Test

06/15/2018  13:45    <DIR>          .
06/15/2018  13:45    <DIR>          ..
06/15/2018  13:39    <DIR>          .ipynb_checkpoints
06/15/2018  13:45               753 Untitled.ipynb
08/11/2016  14:07         3,714,254 yesware-test-data-v1-6.txt
               2 File(s)      3,715,007 bytes
               3 Dir(s)  314,275,565,568 bytes free

In [13]:
raw_data = pd.read_table('yesware-test-data-v1-6.txt', names=('A'))

In [21]:
df = pd.DataFrame(raw_data)
df.columns=['original']

In [26]:
df['split'] = df['original'].split('--')

AttributeError: 'Series' object has no attribute 'split'

In [28]:
# below line parses the entire df, removes everything after the '--' & writes data to a new column called split
df['split'] = df['original'].map(lambda x: x.split('--', 1)[0])

In [64]:
# below line displays only every 2nd row in the df
df.iloc[::2]

                                original                  split  required
0                  Graham, Mckenna -- ut       Graham, Mckenna       True
2                Marvin, Garfield -- non      Marvin, Garfield       True
4      McLaughlin, Mariah -- consequatur    McLaughlin, Mariah       True
6             Lang, Agustina -- pariatur        Lang, Agustina       True
8                   Bradtke, Nikko -- et        Bradtke, Nikko       True
10                  Adams, Luis -- error           Adams, Luis       True
12           Lehner, Matilde -- nesciunt       Lehner, Matilde       True
14                  Ortiz, Anita -- fuga          Ortiz, Anita       True
16                    Koch, Berry -- vel           Koch, Berry       True
18             Cartwright, Nicolas -- et   Cartwright, Nicolas       True
20                   Fisher, Elmo -- non          Fisher, Elmo       True
22         Kunze, Gertrude -- voluptatem       Kunze, Gertrude       True
24               Stanton, Davin -- porro        Stanton, Davin       True
26     O'Conner, Constantin -- veritatis  O'Conner, Constantin       True
28              Runolfsdottir, Roy -- et    Runolfsdottir, Roy       True
30             Rogahn, Colby -- quisquam         Rogahn, Colby       True
32                   Tromp, Ryley -- est          Tromp, Ryley       True
34                 Hoppe, Stanley -- est        Hoppe, Stanley       True
36             Shanahan, Bethel -- rerum      Shanahan, Bethel       True
38                 Hills, Samanta -- aut        Hills, Samanta       True
40                  McGlynn, Thad -- sed         McGlynn, Thad       True
42              McGlynn, Katrina -- quia      McGlynn, Katrina       True
44              Lynch, Norma -- expedita          Lynch, Norma       True
46          Bahringer, Lennie -- aliquam     Bahringer, Lennie       True
48       Tillman, Madison -- praesentium      Tillman, Madison       True
50         Stoltenberg, Donna -- ratione    Stoltenberg, Donna       True
52        Dickinson, Sonya -- asperiores      Dickinson, Sonya       True
54             Bechtelar, Jane -- magnam       Bechtelar, Jane       True
56               Graham, Alfonzo -- quas       Graham, Alfonzo       True
58        McDermott, Ivah -- consequatur       McDermott, Ivah       True
...                                  ...                    ...       ...
99940          Schneider, Everette -- id   Schneider, Everette       True
99942      Roberts, Holden -- reiciendis       Roberts, Holden       True
99944             Jast, Gail -- expedita            Jast, Gail       True
99946        Witting, Trenton -- debitis      Witting, Trenton       True
99948             Goodwin, Zetta -- eius        Goodwin, Zetta       True
99950          Ratke, Kaleb -- molestiae          Ratke, Kaleb       True
99952          Brakus, Emilia -- aliquid        Brakus, Emilia       True
99954         Rippin, Jose -- voluptatem          Rippin, Jose       True
99956    Keebler, Forrest -- accusantium      Keebler, Forrest       True
99958           Rohan, Hellen -- aperiam         Rohan, Hellen       True
99960       Schuster, Arden -- excepturi       Schuster, Arden       True
99962       Schneider, Kayley -- facilis     Schneider, Kayley       True
99964       Buckridge, Cassidy -- itaque    Buckridge, Cassidy       True
99966  Emmerich, Loraine -- consequuntur     Emmerich, Loraine       True
99968      Johnston, Kevin -- blanditiis       Johnston, Kevin       True
99970             Kirlin, Kylee -- natus         Kirlin, Kylee       True
99972             Pouros, Kellie -- iure        Pouros, Kellie       True
99974        Mosciski, Stephania -- quia   Mosciski, Stephania       True
99976             Emmerich, Hubert -- et      Emmerich, Hubert       True
99978                Kris, Devon -- quas           Kris, Devon       True
99980               Heller, Sadie -- eos         Heller, Sadie       True
99982            Beatty, Bertha -- omnis        Beatty, Bertha       True
99984       Pollich, Richie -- voluptate       Pollich, Richie       True
99986             Feil, Louie -- facilis           Feil, Louie       True
99988        Jones, Elyssa -- voluptatum         Jones, Elyssa       True
99990            Kuhlman, Demarco -- est      Kuhlman, Demarco       True
99992     MacGyver, Fabian -- aspernatur      MacGyver, Fabian       True
99994             Wehner, Keyshawn -- et      Wehner, Keyshawn       True
99996             Littel, Joel -- labore          Littel, Joel       True
99998             Hettinger, Brett -- in      Hettinger, Brett       True

[50000 rows x 3 columns]

In [51]:
# below to show if the data in the column contains the specified character
# useing this column in the future to check if any non name rows get selected in new_df
df['required'] = df.split.str.contains(',') == True

In [61]:
# skip alternate row using indexs
new_df = df.iloc[::2]

In [62]:
df

,original,split,required
0,"Graham, Mckenna -- ut","Graham, Mckenna",True
1,Voluptatem ipsam et at.,Voluptatem ipsam et at.,False
2,"Marvin, Garfield -- non","Marvin, Garfield",True
3,Facere et necessitatibus animi.,Facere et necessitatibus animi.,False
4,"McLaughlin, Mariah -- consequatur","McLaughlin, Mariah",True
5,Eveniet temporibus ducimus amet eaque.,Eveniet temporibus ducimus amet eaque.,False
6,"Lang, Agustina -- pariatur","Lang, Agustina",True
7,Unde voluptas sit fugit.,Unde voluptas sit fugit.,False
8,"Bradtke, Nikko -- et","Bradtke, Nikko",True
9,Maiores ab officia sed.,Maiores ab officia sed.,False
10,"Adams, Luis -- error","Adams, Luis",True
11,Repellendus alias officia amet et perspici...,Repellendus alias officia amet et perspici...,False
12,"Lehner, Matilde -- nesciunt","Lehner, Matilde",True
13,Incidunt et ut necessitatibus porro.,Incidunt et ut necessitatibus porro.,False
14,"Ortiz, Anita -- fuga","Ortiz, Anita",True
15,Tempore eos et hic.,Tempore eos et hic.,False
16,"Koch, Berry -- vel","Koch, Berry",True
17,Laborum perferendis inventore eveniet.,Laborum perferendis inventore eveniet.,False
18,"Cartwright, Nicolas -- et","Cartwright, Nicolas",True
19,Optio aliquid earum exercitationem vitae f...,Optio aliquid earum exercitationem vitae f...,False
20,"Fisher, Elmo -- non","Fisher, Elmo",True
21,Ipsum provident nobis explicabo voluptas i...,Ipsum provident nobis explicabo voluptas i...,False
22,"Kunze, Gertrude -- voluptatem","Kunze, Gertrude",True
23,Aliquam optio qui et architecto molestias ...,Aliquam optio qui et architecto molestias ...,False
24,"Stanton, Davin -- porro","Stanton, Davin",True
25,Enim alias aut error iure.,Enim alias aut error iure.,False
26,"O'Conner, Constantin -- veritatis","O'Conner, Constantin",True
27,Alias doloremque rem est aspernatur.,Alias doloremque rem est aspernatur.,False
28,"Runolfsdottir, Roy -- et","Runolfsdottir, Roy",True
29,Eum est aut sapiente.,Eum est aut sapiente.,False
...,...,...,...
99970,"Kirlin, Kylee -- natus","Kirlin, Kylee",True
99971,Voluptatibus harum quibusdam architecto qu...,Voluptatibus harum quibusdam architecto qu...,False
99972,"Pouros, Kellie -- iure","Pouros, Kellie",True
99973,Facilis deleniti quasi optio aut molestiae...,Facilis deleniti quasi optio aut molestiae...,False
99974,"Mosciski, Stephania -- quia","Mosciski, Stephania",True
99975,Adipisci iste sint voluptas repellat error...,Adipisci iste sint voluptas repellat error...,False
99976,"Emmerich, Hubert -- et","Emmerich, Hubert",True
99977,Totam perferendis repudiandae itaque volup...,Totam perferendis repudiandae itaque volup...,False
99978,"Kris, Devon -- quas","Kris, Devon",True
99979,Ullam accusamus vel doloribus eos quia ten...,Ullam accusamus vel doloribus eos quia ten...,False
99980,"Heller, Sadie -- eos","Heller, Sadie",True
99981,Numquam nemo in praesentium est sint.,Numquam nemo in praesentium est sint.,False
99982,"Beatty, Bertha -- omnis","Beatty, Bertha",True
99983,Odit non ipsam voluptas.,Odit non ipsam voluptas.,False
99984,"Pollich, Richie -- voluptate","Pollich, Richie",True
99985,Accusantium voluptatibus ut laudantium nos...,Accusantium voluptatibus ut laudantium nos...,False
99986,"Feil, Louie -- facilis","Feil, Louie",True
99987,Sit sit veniam cupiditate.,Sit sit veniam cupiditate.,False
99988,"Jones, Elyssa -- voluptatum","Jones, Elyssa",True
99989,Eos accusamus animi eos nesciunt expedita.,Eos accusamus animi eos nesciunt expedita.,False
99990,"Kuhlman, Demarco -- est","Kuhlman, Demarco",True
99991,Et adipisci ex a.,Et adipisci ex a.,False
99992,"MacGyver, Fabian -- aspernatur","MacGyver, Fabian",True
99993,Qui unde aut eum ex soluta iste rerum dolo...,Qui unde aut eum ex soluta iste rerum dolo...,False
99994,"Wehner, Keyshawn -- et","Wehner, Keyshawn",True
99995,Excepturi laboriosam labore magnam tenetur...,Excepturi laboriosam labore magnam tenetur...,False
99996,"Littel, Joel -- labore","Littel, Joel",True
99997,Ut qui iure aut distinctio eum deleniti be...,Ut qui iure aut distinctio eum deleniti be...,False
99998,"Hettinger, Brett -- in","Hettinger, Brett",True
99999,Delectus natus esse voluptas aut ad.,Delectus natus esse voluptas aut ad.,False

In [66]:
# rename column split to column full_name 
new_df = new_df.rename(columns = {'split':'full_name'})

In [81]:
new_df

,original,full_name,first,last
0,"Graham, Mckenna -- ut","Graham, Mckenna",Mckenna,Graham
2,"Marvin, Garfield -- non","Marvin, Garfield",Garfield,Marvin
4,"McLaughlin, Mariah -- consequatur","McLaughlin, Mariah",Mariah,McLaughlin
6,"Lang, Agustina -- pariatur","Lang, Agustina",Agustina,Lang
8,"Bradtke, Nikko -- et","Bradtke, Nikko",Nikko,Bradtke
10,"Adams, Luis -- error","Adams, Luis",Luis,Adams
12,"Lehner, Matilde -- nesciunt","Lehner, Matilde",Matilde,Lehner
14,"Ortiz, Anita -- fuga","Ortiz, Anita",Anita,Ortiz
16,"Koch, Berry -- vel","Koch, Berry",Berry,Koch
18,"Cartwright, Nicolas -- et","Cartwright, Nicolas",Nicolas,Cartwright
20,"Fisher, Elmo -- non","Fisher, Elmo",Elmo,Fisher
22,"Kunze, Gertrude -- voluptatem","Kunze, Gertrude",Gertrude,Kunze
24,"Stanton, Davin -- porro","Stanton, Davin",Davin,Stanton
26,"O'Conner, Constantin -- veritatis","O'Conner, Constantin",Constantin,O'Conner
28,"Runolfsdottir, Roy -- et","Runolfsdottir, Roy",Roy,Runolfsdottir
30,"Rogahn, Colby -- quisquam","Rogahn, Colby",Colby,Rogahn
32,"Tromp, Ryley -- est","Tromp, Ryley",Ryley,Tromp
34,"Hoppe, Stanley -- est","Hoppe, Stanley",Stanley,Hoppe
36,"Shanahan, Bethel -- rerum","Shanahan, Bethel",Bethel,Shanahan
38,"Hills, Samanta -- aut","Hills, Samanta",Samanta,Hills
40,"McGlynn, Thad -- sed","McGlynn, Thad",Thad,McGlynn
42,"McGlynn, Katrina -- quia","McGlynn, Katrina",Katrina,McGlynn
44,"Lynch, Norma -- expedita","Lynch, Norma",Norma,Lynch
46,"Bahringer, Lennie -- aliquam","Bahringer, Lennie",Lennie,Bahringer
48,"Tillman, Madison -- praesentium","Tillman, Madison",Madison,Tillman
50,"Stoltenberg, Donna -- ratione","Stoltenberg, Donna",Donna,Stoltenberg
52,"Dickinson, Sonya -- asperiores","Dickinson, Sonya",Sonya,Dickinson
54,"Bechtelar, Jane -- magnam","Bechtelar, Jane",Jane,Bechtelar
56,"Graham, Alfonzo -- quas","Graham, Alfonzo",Alfonzo,Graham
58,"McDermott, Ivah -- consequatur","McDermott, Ivah",Ivah,McDermott
...,...,...,...,...
99940,"Schneider, Everette -- id","Schneider, Everette",Everette,Schneider
99942,"Roberts, Holden -- reiciendis","Roberts, Holden",Holden,Roberts
99944,"Jast, Gail -- expedita","Jast, Gail",Gail,Jast
99946,"Witting, Trenton -- debitis","Witting, Trenton",Trenton,Witting
99948,"Goodwin, Zetta -- eius","Goodwin, Zetta",Zetta,Goodwin
99950,"Ratke, Kaleb -- molestiae","Ratke, Kaleb",Kaleb,Ratke
99952,"Brakus, Emilia -- aliquid","Brakus, Emilia",Emilia,Brakus
99954,"Rippin, Jose -- voluptatem","Rippin, Jose",Jose,Rippin
99956,"Keebler, Forrest -- accusantium","Keebler, Forrest",Forrest,Keebler
99958,"Rohan, Hellen -- aperiam","Rohan, Hellen",Hellen,Rohan
99960,"Schuster, Arden -- excepturi","Schuster, Arden",Arden,Schuster
99962,"Schneider, Kayley -- facilis","Schneider, Kayley",Kayley,Schneider
99964,"Buckridge, Cassidy -- itaque","Buckridge, Cassidy",Cassidy,Buckridge
99966,"Emmerich, Loraine -- consequuntur","Emmerich, Loraine",Loraine,Emmerich
99968,"Johnston, Kevin -- blanditiis","Johnston, Kevin",Kevin,Johnston
99970,"Kirlin, Kylee -- natus","Kirlin, Kylee",Kylee,Kirlin
99972,"Pouros, Kellie -- iure","Pouros, Kellie",Kellie,Pouros
99974,"Mosciski, Stephania -- quia","Mosciski, Stephania",Stephania,Mosciski
99976,"Emmerich, Hubert -- et","Emmerich, Hubert",Hubert,Emmerich
99978,"Kris, Devon -- quas","Kris, Devon",Devon,Kris
99980,"Heller, Sadie -- eos","Heller, Sadie",Sadie,Heller
99982,"Beatty, Bertha -- omnis","Beatty, Bertha",Bertha,Beatty
99984,"Pollich, Richie -- voluptate","Pollich, Richie",Richie,Pollich
99986,"Feil, Louie -- facilis","Feil, Louie",Louie,Feil
99988,"Jones, Elyssa -- voluptatum","Jones, Elyssa",Elyssa,Jones
99990,"Kuhlman, Demarco -- est","Kuhlman, Demarco",Demarco,Kuhlman
99992,"MacGyver, Fabian -- aspernatur","MacGyver, Fabian",Fabian,MacGyver
99994,"Wehner, Keyshawn -- et","Wehner, Keyshawn",Keyshawn,Wehner
99996,"Littel, Joel -- labore","Littel, Joel",Joel,Littel
99998,"Hettinger, Brett -- in","Hettinger, Brett",Brett,Hettinger

In [78]:
# parse full_name into first and last
new_df['last'] = new_df['full_name'].map(lambda x: x.split(',', 1)[0])
new_df['first'] = new_df['full_name'].map(lambda x: x.split(',', -1)[-1])
# removing the test column from new_df
del new_df['required']

In [83]:
del new_df['original']

In [150]:
# noticed that there was a whitespace at the end to stripping it
new_df['full_name'] = new_df['full_name'].str.rstrip()

In [153]:
new_df

                  full_name         first           last
0           Graham, Mckenna      Mckenna          Graham
2          Marvin, Garfield     Garfield          Marvin
4        McLaughlin, Mariah       Mariah      McLaughlin
6            Lang, Agustina     Agustina            Lang
8            Bradtke, Nikko        Nikko         Bradtke
10              Adams, Luis         Luis           Adams
12          Lehner, Matilde      Matilde          Lehner
14             Ortiz, Anita        Anita           Ortiz
16              Koch, Berry        Berry            Koch
18      Cartwright, Nicolas      Nicolas      Cartwright
20             Fisher, Elmo         Elmo          Fisher
22          Kunze, Gertrude     Gertrude           Kunze
24           Stanton, Davin        Davin         Stanton
26     O'Conner, Constantin   Constantin        O'Conner
28       Runolfsdottir, Roy          Roy   Runolfsdottir
30            Rogahn, Colby        Colby          Rogahn
32             Tromp, Ryley        Ryley           Tromp
34           Hoppe, Stanley      Stanley           Hoppe
36         Shanahan, Bethel       Bethel        Shanahan
38           Hills, Samanta      Samanta           Hills
40            McGlynn, Thad         Thad         McGlynn
42         McGlynn, Katrina      Katrina         McGlynn
44             Lynch, Norma        Norma           Lynch
46        Bahringer, Lennie       Lennie       Bahringer
48         Tillman, Madison      Madison         Tillman
50       Stoltenberg, Donna        Donna     Stoltenberg
52         Dickinson, Sonya        Sonya       Dickinson
54          Bechtelar, Jane         Jane       Bechtelar
56          Graham, Alfonzo      Alfonzo          Graham
58          McDermott, Ivah         Ivah       McDermott
...                     ...           ...            ...
99940   Schneider, Everette     Everette       Schneider
99942       Roberts, Holden       Holden         Roberts
99944            Jast, Gail         Gail            Jast
99946      Witting, Trenton      Trenton         Witting
99948        Goodwin, Zetta        Zetta         Goodwin
99950          Ratke, Kaleb        Kaleb           Ratke
99952        Brakus, Emilia       Emilia          Brakus
99954          Rippin, Jose         Jose          Rippin
99956      Keebler, Forrest      Forrest         Keebler
99958         Rohan, Hellen       Hellen           Rohan
99960       Schuster, Arden        Arden        Schuster
99962     Schneider, Kayley       Kayley       Schneider
99964    Buckridge, Cassidy      Cassidy       Buckridge
99966     Emmerich, Loraine      Loraine        Emmerich
99968       Johnston, Kevin        Kevin        Johnston
99970         Kirlin, Kylee        Kylee          Kirlin
99972        Pouros, Kellie       Kellie          Pouros
99974   Mosciski, Stephania    Stephania        Mosciski
99976      Emmerich, Hubert       Hubert        Emmerich
99978           Kris, Devon        Devon            Kris
99980         Heller, Sadie        Sadie          Heller
99982        Beatty, Bertha       Bertha          Beatty
99984       Pollich, Richie       Richie         Pollich
99986           Feil, Louie        Louie            Feil
99988         Jones, Elyssa       Elyssa           Jones
99990      Kuhlman, Demarco      Demarco         Kuhlman
99992      MacGyver, Fabian       Fabian        MacGyver
99994      Wehner, Keyshawn     Keyshawn          Wehner
99996          Littel, Joel         Joel          Littel
99998      Hettinger, Brett        Brett       Hettinger

[50000 rows x 3 columns]

In [151]:
# unique full_names
new_df['full_name'].nunique()

49157

In [86]:
# unique first
new_df['first'].nunique()

3007

In [87]:
# unique last
new_df['last'].nunique()

475

In [100]:
# most common name in the respective columns
new_df['last'].value_counts().idxmax()

'Barton'

In [101]:
new_df['first'].value_counts().idxmax()

' Tara '

In [122]:
# new_df.groupby('last').agg('max')
# value_counts gives the number of times each value appears in the column & im using the indexing to limit display top 10
new_df['last'].value_counts()[:10]

Barton       143
Lang         136
Ortiz        135
Hilll        134
Hills        130
Terry        129
Becker       128
Johns        128
Romaguera    128
Batz         127
Name: last, dtype: int64

In [121]:
# defining a function to go through each element of the column in the dataframe & get its counts
new_df['last'].agg(lambda x: x.value_counts()[:10])

Barton       143
Lang         136
Ortiz        135
Hilll        134
Hills        130
Terry        129
Becker       128
Johns        128
Romaguera    128
Batz         127
Name: last, dtype: int64

In [123]:
# 10 most common first names in the data
new_df['first'].agg(lambda x: x.value_counts()[:10])

 Tara          34
 Andreanne     32
 Stephania     31
 Keon          31
 Manley        30
 Kaycee        30
 Summer        30
 Kayley        30
 Ulices        30
 Dashawn       29
Name: first, dtype: int64

In [140]:
# getting the first unique first_names (N=25) values from the data frame 
first_25 = new_df['first'].unique()[:25]

array([' Mckenna ', ' Garfield ', ' Mariah ', ' Agustina ', ' Nikko ',
       ' Luis ', ' Matilde ', ' Anita ', ' Berry ', ' Nicolas ', ' Elmo ',
       ' Gertrude ', ' Davin ', ' Constantin ', ' Roy ', ' Colby ',
       ' Ryley ', ' Stanley ', ' Bethel ', ' Samanta ', ' Thad ',
       ' Katrina ', ' Norma ', ' Lennie ', ' Madison '], dtype=object)

In [139]:
# getting the first unique last_names (N=25) values from the data frame
last_25 = new_df['last'].unique()[:25]

array(['Graham', 'Marvin', 'McLaughlin', 'Lang', 'Bradtke', 'Adams',
       'Lehner', 'Ortiz', 'Koch', 'Cartwright', 'Fisher', 'Kunze',
       'Stanton', "O'Conner", 'Runolfsdottir', 'Rogahn', 'Tromp', 'Hoppe',
       'Shanahan', 'Hills', 'McGlynn', 'Lynch', 'Bahringer', 'Tillman',
       'Stoltenberg'], dtype=object)

In [160]:
full_25 = new_df['full_name'][:50]

0            Graham, Mckenna
2           Marvin, Garfield
4         McLaughlin, Mariah
6             Lang, Agustina
8             Bradtke, Nikko
10               Adams, Luis
12           Lehner, Matilde
14              Ortiz, Anita
16               Koch, Berry
18       Cartwright, Nicolas
20              Fisher, Elmo
22           Kunze, Gertrude
24            Stanton, Davin
26      O'Conner, Constantin
28        Runolfsdottir, Roy
30             Rogahn, Colby
32              Tromp, Ryley
34            Hoppe, Stanley
36          Shanahan, Bethel
38            Hills, Samanta
40             McGlynn, Thad
42          McGlynn, Katrina
44              Lynch, Norma
46         Bahringer, Lennie
48          Tillman, Madison
50        Stoltenberg, Donna
52          Dickinson, Sonya
54           Bechtelar, Jane
56           Graham, Alfonzo
58           McDermott, Ivah
60    Pfannerstill, Filomena
62               Feest, Chaz
64            Cronin, Anissa
66        Oberbrunner, Dayne
68                 Haag, Tom
70        Breitenberg, Abbey
72            Dooley, Hassie
74        Schamberger, Patsy
76           Bernier, Sammie
78             Zboncak, Cora
80        Armstrong, Caleigh
82             Sauer, Juston
84           Collier, Bradly
86              Mante, Oleta
88             Hahn, Mallory
90         Heaney, Genevieve
92            Larkin, Elisha
94             Borer, Paxton
96            Bruen, Mohamed
98             Wolff, Hudson
Name: full_name, dtype: object